<app-top-menu></app-top-menu>
<div class="container">
  <header>
    Healthcare Dashboard
  </header>

  <div class="card">
    <h2>Integration of AI in Healthcare</h2>
    <p>
      AI is transforming healthcare by enhancing diagnostics, streamlining administration, and personalizing care. 
      By 2025, AI will play a pivotal role in disease detection, such as early-stage cancer diagnosis through imaging analysis, improving patient outcomes. 
      It also automates administrative tasks like record management and scheduling, reducing errors and allowing healthcare professionals to focus on patient care. 
      Moreover, AI enables personalized treatment plans based on individual health data, advancing patient-centered care.
    </p>
  </div>

  <div class="card">
    <h2>Hyper-Personalized Medicine</h2>
    <p>
      Hyper-personalized medicine tailors treatments to a patient’s genetic makeup, lifestyle, and environment, moving away from one-size-fits-all approaches. 
      Genetic testing optimizes prescriptions by understanding drug metabolism, minimizing side effects, and improving efficacy. 
      Technologies like CRISPR are driving this revolution by enabling gene editing to address genetic disorders. 
      Wearables and mobile apps provide real-time health data, facilitating proactive and preventative care through continuous monitoring and informed treatment adjustments.
    </p>
  </div>

  <div class="card">
    <h2>Data-Driven Healthcare Transformation</h2>
    <p>
      Healthcare’s reliance on data is reshaping the industry. By 2025, advanced data analytics will refine hospital operations, 
      enhancing resource allocation, patient flow, and staffing efficiency. Leveraging historical data, hospitals can predict admission rates and reduce wait times, 
      improving patient experiences. Data-driven insights empower healthcare professionals to deliver more efficient, informed, and proactive care, revolutionizing the healthcare landscape.
    </p>
  </div>

  <div class="card">
    <h2>Tech Used </h2>
    <p>This project is built using Angular for the frontend, with a Node.js and Express backend. The frontend communicates with the backend through RESTful APIs, and the application uses MySQL for database management. The project also leverages D3.js for data visualization and integrates JWT for authentication. The development environment is set up with Visual Studio Code, and the project uses npm for package management and task running.</p>
  </div>
  <p>Reference: <a href="https://www.amnhealthcare.com/blog/physician/perm/8-medical-technology-trends/">https://www.amnhealthcare.com</a></p>
</div>